body {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Cormorant", serif;
  font-family: "M PLUS 1 Code", sans-serif;
  animation: animateText 1.8s;
}
@keyframes animateText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
h2 {
  font-size: clamp(1rem, 2rem + 1vw, 10rem);
  font-weight: 1000;
  color: blueviolet;
}
li {
  font-size: clamp(1.2rem, 0.8rem + 1.5vw, 6rem);
}
p {
  font-size: clamp(1rem, 0.4rem + 2.5vw, 8rem);
}

.container {
  padding: 0 10vw;
  margin: 0 auto;
  text-align: center;
}
.nav {
  display: block;
}

.home-tittle {
  text-align: center;
}

.home {
  text-align: center;
  padding-top: 2vh;
}
.carousel img {
  height: 100%;
}

@media (max-width: 750px) {
}
